@font-face {
    font-family: 'Merriweather-Regular';
    src: url(https://fonts.googleapis.com/css?family=Merriweather);
}

@font-face {
    font-family: 'NotoSans-Regular';
    src: url(https://fonts.googleapis.com/css?family=NotoSans);
}

:root[theme="default"] {
    --main-background-color: #f4f4f4;
}

#love {
    color: aliceblue;
    font-family: Helvetica, sans-serif;
}