@font-face {
    font-family: 'Merriweather-Regular';
    src: url(./fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: 'NotoSans-Regular';
    src: url(./fonts/NotoSans-Regular.ttf);
}

:root[theme="default"] {
    --main-background-color: #f4f4f4;
}

#love {
    font-family: "Merriweather-Regular";
    color: aliceblue;
}